body {
  width:60%;
  margin:0 auto;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color:#dbdbdb;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
header{
  background-color:#cdcdfa;
  color: white;
}
.lists{
  display:flex;
  align-items:start;
  margin: 0 auto;
  
}
.formulario{
  background-color: #10a2dc;
  color:white;
  padding: 1em;
}
.todo-wrapper, .taskdone-wrapper{
  flex: 1; 
  background-color: #10a2dc;
  padding: 1em 2em;
}
.todo-wrapper{
  margin-right:1em;
}
.taskdone-wrapper{
  margin-left:1em;
}
.taskdone, .todo {
  border-radius: 25px;
  padding:1em 2em;
  margin:1em;
  background-color:white;
}
h1{
  color:black;  
}
h2{
  color:white;
  margin-left:5px;
}
h3{
  border-bottom: 1px solid black;
  padding-bottom:8px;
  width:100%;
}
.toDone{
  background-color: #33d9b2;
  
}
.toToDo{
  background-color:#cd6133;
}
.enviar{
  background-color:#33d9b2;
}
nav {
  background-color:#cdcdfa;
  color: white;
}